.title{
    text-align: center;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    font-size: 1.5em;
    color: #757575;
}

.empty{
    text-align: center;
    padding: 0;
    margin: 0;
}

.todo{
    max-width: 500px;
    margin: 0 auto;
    border-radius: 5px;
    border: 2px solid #dad8d8;
    background-color: #ececec;
    padding: 20px;
}

.form_todo{
    display: flex;
    justify-content: space-between;
    padding: 30px 0 30px;
}

.form_todo input{
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #dad8d8;
    margin-right: 5px;
}

.btn{
    border: none;
    color: #fff;
    transition: 0.5s;
}

.btn:hover{
    cursor: pointer;
}

.btn_add{
    background-color: #169e16;
    border-radius: 5px;
    padding: 10px 20px;
}

.btn_add:hover{
    background-color: #1cc21c;
}

.btn_done{
    background-color: #169e16;
    border-radius: 3px;
    padding: 5px 10px;
    float: right;
    margin-right: 5px;
}

.btn_done:hover{
    background-color: #1cc21c;
}

.list_todos{
    list-style: none;
    margin: 0;
    padding: 0;
}

.list_done_todos{
    list-style: none;
    margin: 0;
    padding: 0;
}

.list_done_todos li{
    background-color: #fff;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    margin-right: 5px;
    padding: 10px 15px;
    color: #757575;
    align-items: center;
}

.item{
    display: inline-block;
    padding: 4px 0;
}

.completeItem{
    display: inline-block;
    padding: 4px 0;
    text-decoration: line-through;
}

.list_todos li{
    background-color: #fff;
    margin-bottom: 10px;
    display: block;
    margin-right: 5px;
    padding: 10px 15px;
    color: #757575;
}

.btn_delete{
    background-color: #dd0202;
    border-radius: 3px;
    padding: 5px 10px;
    float: right;
}

.btn_delete:hover{
    background-color: red;
}